#handDiv {
    text-align: center;
    width: 100%;
    position: fixed;
}

#hand {
    position: relative;
    width: 45vh;
    outline: none;
    z-index: 0;
}

/* Makes highlighting elements not possible*/
::selection {
    color: none;
    background: none;
}

#shop-img {
    width: 6vh;
}

/* Properties for button.*/
#shop-button {
    position: relative;
    float: right;
    outline: none;
    padding: 15px 25px;
    background-color: grey;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 9px lightgray;
    z-index: 1;
}

/* Properties for button when hovered over.*/
#shop-button:hover {
    background-color: grey
}

/* Properties for button when pressed.*/
#shop-button:active {
    background-color: grey;
    box-shadow: 0px 5px lightgray;
    transform: translateY(4px);
}

/* Flexbox for displaying content.*/
.info-head{
    /* Property to toggle the flex box property.*/
    display:flex;
    height: 10vh;
    /* Organizes items in the flex box with space between the items.*/
    justify-content: space-between;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: #343A40;
    color: white;
    text-align: center;
}

/* The side navigation menu */
#mySideNav {
    width: 100%;
    /* 100% Full-width */
    height: 0vh;
    /* 0 height- change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    bottom: 0;
    /* Stay at the bottom */
    background-color: #111;
    /* Black*/
    overflow-x: hidden; 
    /*Disable horizontal scroll */
    padding-top: 0px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
#mySideNav h1 {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

#mySideNav ul li {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
    
#mySideNav ul li:hover {
    color: #dbdbdb;
}

